.contacto {
    height: 100vh;
    padding: 80px 10vw;
    background-color: rgb(48,48,48);
    font-family: Montserrat, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', Verdana, Geneva, sans-serif;
}

.etiqueta{
    color: rgb(232, 178, 209);
    font-family: Montserrat, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', Geneva, Verdana, sans-serif;
}

.titulo {
    background-color: #58032d;
    color: white;
    font-family: Montserrat, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: 35px;
    height: 55px;
    line-height: 80px;
    display: block;
    text-align: center;
    margin: auto;
    padding: 0.5rem;
}

.btnDiv{
    display: flex;
    justify-content: flex-end;
}

button.btn-light {
    color: rgb(232, 178, 209);
    border-color: rgb(232, 178, 209);
    background-color: transparent;
}

button.btn-light:hover {
    color: rgb(48, 48, 48);
    border-color: rgb(232, 178, 209);
    background-color: rgb(232, 178, 209);
}

button.btn-accion {
    background-size: cover;
    background-color: transparent;
    width: 30px;
    height: 30px;
    border: none;
    cursor: pointer;
    margin: 3px 10px;
}