
.institucional {
    background-color: rgb(48, 48, 48);
    padding-bottom: 80px;
    font-family: Montserrat, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', Geneva, Verdana, sans-serif;
}

.title-parrafo{
    color: rgb(232, 178, 209);
    margin-bottom: 15px;
    padding-top: 15px;
    text-align: center;
    font-family: Montserrat, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', Geneva, Verdana, sans-serif;
    font-size: xx-large;
    font-weight: 500;
}
.parrafo{
    text-align: justify;
    font-size: 18px;
    color: rgb(209, 209, 209);
}

.container-carrusel{
    display: grid;
    justify-items: center;
    z-index: 1;
}

.img-carrusel{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    user-select: none;
    width: 50%;
    overflow: hidden;
}

.img-carrusel img {
    max-width: 400px;
    height: auto;
    margin: 0;
    padding: 0;
}

.carousel .thumbs-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .carousel .thumbs {
    width: auto;
  }

  .carousel .thumb {
    margin: 0 5px;
    width: 60px;
    height: 80px;
  }